.image-container {
    z-index: 1;
    display: flex;
    // padding: 30px 30px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    // width: 100%;
    gap: 30px;
    // height: 100%;
    padding: 0px 20px;
    
    > img {
        width: 20rem;
        height: 19rem;
        border-radius: 50%;
        box-shadow: 1px 0px 4px 0.6px rgb(131, 25, 230);
    }
}
.aboutMe{
    padding: 0px 10px;
    > .about-heading{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 5px;

        svg{
            font-size: 30px;
            margin-right: 5px;
        }
        > .para-heading{
            font-size: 30px;
            font-weight: 900;  
            margin-top: 15px;    
        }
        > .para-heading:nth-child(3){
            color: rgb(38, 38, 165);
        }
        

    }
    > .about-content{
        display: flex;
        flex-direction: column;
        gap: 0px;
        > .btn {
            height: 5vh;
            width: 18vh;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row;
         
            border: 1px solid;
            border-radius: 20px;
            font-size: 15px;
            background-color: rgb(98, 27, 165);
            > a{
                text-decoration: none;
                color: white;
                font-weight: 900;
            }
          
          }
          > p:nth-child(1){
            font-size: 20px;
            font-weight: 700;
            margin-bottom: 0px;
    
          }
          > p:nth-child(2){
            font-size: 15px;
            font-weight: 700;
          }
          
    }
}
@media screen and (min-width:600px) {
    
    .aboutMe {
    
    > .about-content 
{

    > p:nth-child(1) {
        font-size: 40px;  
    }
    > p:nth-child(2) {
        font-size: 22px;  
    }
    > p:nth-child(3) {
        font-size: 18px;  
        font-weight: 550;
    }
}
}
        
}